<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'faculty_profile.css' %}">
</head>

<body>
    <nav class="navbar">
        <div style="display: flex; align-items: center;">
            <img src="{% static 'diu-logo.png' %}" alt="">
            <h1>Student Counselling Management System</h1>
        </div>
        <div>
            <a href="http://localhost:8000/"><button type="Logout">Logout</button></a>
        </div>
    </nav>


    <center>
        <div class="container">
            <div class="faculty_profile">
                <h1 style="font-size: 60px; color:#04aa6d" ;>Faculty Profile</h1>
                <br>
                <img src="{% static 'user.png' %}" alt="">
                <h1 style="font-size: 24px; margin-bottom: 5px;">{{user.first_name}} {{user.last_name}}</h1>
                <p>ID: {{user.user_id }}</p>
            </div>


            <div class="middle_container1">
                <div class="counselling_img">
                    <img src="{% static 'scaled.jpg' %}" alt="">
                </div>

                <div class="faculty_counselling">
                    <h1 style="font-size: 60px; margin-top: -50px; margin-bottom: 20px; color:#04aa6d">Counselling
                        Requests</h1>
                    <table>
                        <tr>
                            <th>STUDENT ID</th>
                            <th>MASSAGE</th>
                            <th>DAY</th>
                            <th>SLOT</th>
                            <th>Status</th>
                            <th>Approval</th>
                        </tr>
                        {% for m in messages %}
                        <tr>
                            <td>{{ m.student_id }}</td>
                            <td>{{ m.massage }}</td>
                            <td>{{ m.weekday }}</td>
                            <td>{{ m.slot }}</td>
                            <td>{% if m.approve == "True" %}Approved{% elif m.approve == "False" %}Declined{% else %}Pending{% endif %}</td>

                            <form method="post" action="{% url 'update_approve' %}">
                                {% csrf_token %}
                                <td style="width: 30px;">
                                    <input type="hidden" name="booking_id" value="{{ m.massage_id }}">
                                    <button type="submit">Approve</button>
                                </td>
                            </form>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>


            <div class="middle_container2">
                <div class="counselling_time">
                    <h1 style="font-size: 60px; color:#04aa6d; margin-top: -50px; margin-bottom: 20px;">My
                        Counselling Hour</h1>

                    <table>
                        <tr>
                            <th>Day</th>
                            <th>08:30 AM</th>
                            <th>09:45 AM</th>
                            <th>11:00 AM</th>
                            <th>12:15 PM</th>
                            <th>01:30 PM</th>
                            <th>02:45 PM</th>
                            <th>04:00 PM</th>
                            <th>Option</th>
                        </tr>
                        {% for sch in schedule %}
                        <tr>
                            <td>{{ sch.weekday }}</td>
                            <td>{% if sch.slot1 %}Available{% else %}Not Available{% endif %}</td>
                            <td>{% if sch.slot2 %}Available{% else %}Not Available{% endif %}</td>
                            <td>{% if sch.slot3 %}Available{% else %}Not Available{% endif %}</td>
                            <td>{% if sch.slot4 %}Available{% else %}Not Available{% endif %}</td>
                            <td>{% if sch.slot5 %}Available{% else %}Not Available{% endif %}</td>
                            <td>{% if sch.slot6 %}Available{% else %}Not Available{% endif %}</td>
                            <td>{% if sch.slot7 %}Available{% else %}Not Available{% endif %}</td>
                            <td>
                                <form method="post" action="{% url 'delete_slot' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="slot_id" value="{{ sch.slot_id }}">
                                    <button type="submit">Remove the day</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="find_img">
                    <img src="{% static 'photo.jpg' %}" alt="">
                </div>
            </div>







            <h1 style="font-size: 60px; margin-top: 40px; padding: 10px; color:#04aa6d" class="title">Edit My
                Counselling Hour</h1>
            <div class="forms">

                <form method="post" action="{% url 'edit_counselling_hour' %}">
                    {% csrf_token %}

                    <div class="edit_counselling">
                        <div>
                            <select name='weekday' id="weekday" required>
                                <option value="">Select Weekday</option>
                                <option value="saturday">Saturday</option>
                                <option value="sunday">Sunday</option>
                                <option value="monday">Monday</option>
                                <option value="tuesday">Tuesday</option>
                                <option value="wednesday">Wednesday</option>
                                <option value="thursday">thursday</option>
                            </select>
                        </div>

                        <table>
                            <tr>
                                <td><input type="checkbox" id="slot1" name="slot1" value="True">
                                    <label for="slot1">08:30 AM</label>
                                </td>
                                <td><input type="checkbox" id="slot2" name="slot2" value="True">
                                    <label for="slot2">09:45 AM</label>
                                </td>
                                <td><input type="checkbox" id="slot3" name="slot3" value="True">
                                    <label for="slot3">11:00 AM</label>
                                </td>
                                <td><input type="checkbox" id="slot4" name="slot4" value="True">
                                    <label for="slot4">12:15 PM</label>
                                </td>
                                <td>
                                    <input type="checkbox" id="slot5" name="slot5" value="True">
                                    <label for="slot5">01:30 PM</label>
                                </td>
                                <td><input type="checkbox" id="slot6" name="slot6" value="True">
                                    <label for="slot6">02:45 PM</label>
                                </td>
                                <td><input type="checkbox" id="slot7" name="slot7" value="True">
                                    <label for="slot7">04:00 PM</label>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <button type="submit">Update Slot</button>
                    </div>
                </form>
            </div>
        </div>
    </center>
    <footer>
        <center>
            &copy; Copyright 2023, Student Counselling Management System
        </center>
    </footer>
</body>

</html>
