<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'welcome.css' %}">
</head>
<body>
    <center>
        <h1 style="font-size: 90px;">Welcome</h1>
        <h1 style="font-size: 50px;">Student Counselling Management System</h1>

        <br><br>

        <form>
            {% csrf_token %}
            <table>
                <tr>
                    <td> <a href="http://127.0.0.1:8000/sign_up/"> <input type="button" value="Sign Up"> </a> </td>

                    <td> <a href="http://127.0.0.1:8000/login/"> <input type="button" value="Login"> </a> </td>
                </tr>
            </table>
        </form>

    </center>
    
</body>
</html>